<!-- Main Navigation Bar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light-brown">
  <div class="container-fluid">
      <img class = "logo" src="/images/Tea.png" >
      <a class="navbar-brand" href="#"> Brewbean's Coffee Shop</a>
  </div>
</nav>
   