<!-- Main Content-->
<body>
  <main>
    <ul class="nav-list">
      <li> <a href="https://www.w3schools.com">Departments</a> </li>
      <li> <a href="https://www.w3schools.com">Basket</a> </li>
      <li> <a href="https://www.w3schools.com">Check Out</a> </li>
      <li> <a href="https://www.w3schools.com">Search</a> </li>
      <li> <a href="https://www.w3schools.com">Account</a> </li>
      <li> <a href="https://www.w3schools.com">Order Status</a> </li>
    </ul>

    <div class="table-container">
      <table>
        <tr>
         <th>Name</th>
         <th>Options</th>
         <th>Qty</th>
         <th>Price</th>
         <th>Total</th>
        </tr>
        
        <p>
        Click <a href="https://www.w3schools.com">Here</a> to continue shopping
         </p>

        <tr>
         <td>hi</td>
         <td>bye</td>
        </tr>
             
     </table>
    </div>
  </main>

  <div class="Buttons">
    <button type="button">Update Basket</button>

    
    <button type="button" class="custom_button">Empty Basket</button>
  
    
    <button type="button">Check Out</button>
   
  </div>
 

</body>




